WorkFlows/abacus2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "abacus-chat-webhook",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ $json[\"body\"] ? (typeof $json[\"body\"] === 'string' ? $json[\"body\"] : JSON.stringify($json[\"body\"])) : ($json[\"text\"] ? $json[\"text\"] : JSON.stringify($json)) }}"
            }
          ]
        }
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.abacus.ai/route-llm/gpt-4o-mini",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParametersJson": "={\"messages\": [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {\"role\": \"user\", \"content\": {{$node[\"Set Prompt\"].json[\"prompt\"]}}}], \"temperature\": 0.2}",
        "responseFormat": "json"
      },
      "name": "Call Abacus (Chat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "model_text",
              "value": "={{ $json[\"choices\"] ? $json[\"choices\"][0][\"message\"][\"content\"] : ($json[\"result\"] ? $json[\"result\"] : JSON.stringify($json)) }}"
            }
          ]
        }
      },
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseMode": "lastNode",
        "responseData": "={{ { \"success\": true, \"text\": $json[\"model_text\"] } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[ { "node": "Set Prompt", "type": "main", "index": 0 } ]] },
    "Set Prompt": { "main": [[ { "node": "Call Abacus (Chat)", "type": "main", "index": 0 } ]] },
    "Call Abacus (Chat)": { "main": [[ { "node": "Set Response", "type": "main", "index": 0 } ]] },
    "Set Response": { "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]] }
  },
  "name": "Abacus RouteLLM - Chat with Authorization Bearer",
  "active": false,
  "settings": {}
}